# Python
__pycache__/
*.py[cod]


# Virtual Environment
myenv/

# Environment
.env

# Django specific
/staticfiles/
media/

# VSCode
.vscode/


# Mac/Windows extra files
.DS_Store
Thumbs.db


# ignore large files
recipe_back/db.sqlite3
recipes_raw_nosource_fn.json
recipes_raw_nosource_epi.json
